# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
*.jar
*.war
*.ear
*.class

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# Spring Boot
*.log
logs/

# OS
.DS_Store
Thumbs.db
